@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "satoshi-bold";
  src: url("/assets/fonts/Satoshi-Bold.ttf");
}

.bold {
  font-family: "satoshi-bold";
}

@font-face {
  font-family: "satoshi-regular";
  src: url("/assets/fonts/Satoshi-Regular.ttf");
}

.regular {
  font-family: "satoshi-regular";
}

@font-face {
  font-family: "satoshi-medium";
  src: url("/assets/fonts/Satoshi-Medium.ttf");
}

.medium {
  font-family: "satoshi-medium";
}

.hero-button {
  border-radius: 16px;
  background: linear-gradient(180deg, #625df5 0%, #514cf1 67.6%, #625df5 100%);
}

.about-box {
  border-radius: 16px;
  border: 3px solid #625df5;
  background: linear-gradient(
      0deg,
      rgba(98, 93, 245, 0.05) 0%,
      rgba(98, 93, 245, 0.05) 100%
    ),
    #fff;
  box-shadow: 0px 4px 24px 0px rgba(98, 93, 245, 0.08);
}

.faq-bg {
  background: linear-gradient(
      0deg,
      rgba(98, 93, 245, 0.05) 0%,
      rgba(98, 93, 245, 0.05) 100%
    ),
    #fff;
}

.button-bg {
  border-radius: 1000px;
  border: 2px solid #625df5;
  background: linear-gradient(
      0deg,
      rgba(98, 93, 245, 0.2) 0%,
      rgba(98, 93, 245, 0.2) 100%
    ),
    #fff;
  box-shadow: 0px 4px 24px 0px rgba(98, 93, 245, 0.08);
}

.testi-bg {
  background: linear-gradient(
      0deg,
      rgba(98, 93, 245, 0.05) 0%,
      rgba(98, 93, 245, 0.05) 100%
    ),
    #fff;
}

.categories-desktop {
  background: linear-gradient(
      0deg,
      rgba(98, 93, 245, 0.05) 0%,
      rgba(98, 93, 245, 0.05) 100%
    ),
    #fff;
}

.slick-slide {
  padding-left: 8px;
  padding-right: 8px;
}

.slick-dots li {
  margin: 0 0px !important; /* Adjusted margin here */
}

.dropdown-box {
  border-radius: 16px;
  border: 2px solid #625df533;
  background: #fff;
  box-shadow: 0px 4px 24px 0px rgba(98, 93, 245, 0.08);
}

.info-box {
  background: linear-gradient(
      0deg,
      rgba(98, 93, 245, 0.2),
      rgba(98, 93, 245, 0.2)
    ),
    linear-gradient(
      90.27deg,
      rgba(98, 93, 245, 0.2) 0%,
      rgba(98, 93, 245, 0.02) 32.4%,
      rgba(98, 93, 245, 0.2) 100%
    );
}

.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #474bff 94%, #0000) top/10px 10px
      no-repeat,
    conic-gradient(#0000 30%, #474bff);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
  animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
  100% {
    transform: rotate(1turn);
  }
}
